


<a class="btn btn-primary"  href="#/product/add">Add new </a>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Brand</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSource">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.price | currency: 'USD': 'symbol' }}</td>
      <td>{{ item.brand }}</td>
      <td>{{ getcategoryName(item.categoryId) }}</td>
      <td><button class="btn btn-primary" (click)="openModal(item)">Edit</button></td>
      <td><button class="btn btn-primary" (click)="Deleteitem(item)">Delete</button></td>
    </tr>
  </tbody>
</table>





